@font-face {
  font-family: 'eva-icons';
  src:  url('fonts/Eva-Icons.eot?x31c5r');
  src:  url('fonts/Eva-Icons.eot?x31c5r#iefix') format('embedded-opentype'),
    url('fonts/Eva-Icons.ttf?x31c5r') format('truetype'),
    url('fonts/Eva-Icons.woff?x31c5r') format('woff'),
    url('fonts/Eva-Icons.svg?x31c5r#eva-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.eva {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eva-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eva-activity-outline:before {
  content: "\e900";
}
.eva-alert-circle-outline:before {
  content: "\e901";
}
.eva-alert-triangle-outline:before {
  content: "\e902";
}
.eva-archive-outline:before {
  content: "\e903";
}
.eva-arrow-back-outline:before {
  content: "\e904";
}
.eva-arrow-circle-down-outline:before {
  content: "\e905";
}
.eva-arrow-circle-left-outline:before {
  content: "\e906";
}
.eva-arrow-circle-right-outline:before {
  content: "\e907";
}
.eva-arrow-circle-up-outline:before {
  content: "\e908";
}
.eva-arrow-down-outline:before {
  content: "\e909";
}
.eva-arrow-downward-outline:before {
  content: "\e90a";
}
.eva-arrow-forward-outline:before {
  content: "\e90b";
}
.eva-arrowhead-down-outline:before {
  content: "\e90c";
}
.eva-arrowhead-left-outline:before {
  content: "\e90d";
}
.eva-arrowhead-right-outline:before {
  content: "\e90e";
}
.eva-arrowhead-up-outline:before {
  content: "\e90f";
}
.eva-arrow-ios-back-outline:before {
  content: "\e910";
}
.eva-arrow-ios-downward-outline:before {
  content: "\e911";
}
.eva-arrow-ios-forward-outline:before {
  content: "\e912";
}
.eva-arrow-ios-upward-outline:before {
  content: "\e913";
}
.eva-arrow-left-outline:before {
  content: "\e914";
}
.eva-arrow-right-outline:before {
  content: "\e915";
}
.eva-arrow-up-outline:before {
  content: "\e916";
}
.eva-arrow-upward-outline:before {
  content: "\e917";
}
.eva-at-outline:before {
  content: "\e918";
}
.eva-attach-2-outline:before {
  content: "\e919";
}
.eva-attach-outline:before {
  content: "\e91a";
}
.eva-award-outline:before {
  content: "\e91b";
}
.eva-backspace-outline:before {
  content: "\e91c";
}
.eva-bar-chart-2-outline:before {
  content: "\e91d";
}
.eva-bar-chart-outline:before {
  content: "\e91e";
}
.eva-battery-outline:before {
  content: "\e91f";
}
.eva-behance-outline:before {
  content: "\e920";
}
.eva-bell-off-outline:before {
  content: "\e921";
}
.eva-bell-outline:before {
  content: "\e922";
}
.eva-bluetooth-outline:before {
  content: "\e923";
}
.eva-bookmark-outline:before {
  content: "\e924";
}
.eva-book-open-outline:before {
  content: "\e925";
}
.eva-book-outline:before {
  content: "\e926";
}
.eva-briefcase-outline:before {
  content: "\e927";
}
.eva-browser-outline:before {
  content: "\e928";
}
.eva-brush-outline:before {
  content: "\e929";
}
.eva-bulb-outline:before {
  content: "\e92a";
}
.eva-calendar-outline:before {
  content: "\e92b";
}
.eva-camera-outline:before {
  content: "\e92c";
}
.eva-car-outline:before {
  content: "\e92d";
}
.eva-cast-outline:before {
  content: "\e92e";
}
.eva-charging-outline:before {
  content: "\e92f";
}
.eva-checkmark-circle-2-outline:before {
  content: "\e930";
}
.eva-checkmark-circle-outline:before {
  content: "\e931";
}
.eva-checkmark-outline:before {
  content: "\e932";
}
.eva-checkmark-square-2-outline:before {
  content: "\e933";
}
.eva-checkmark-square-outline:before {
  content: "\e934";
}
.eva-chevron-down-outline:before {
  content: "\e935";
}
.eva-chevron-left-outline:before {
  content: "\e936";
}
.eva-chevron-right-outline:before {
  content: "\e937";
}
.eva-chevron-up-outline:before {
  content: "\e938";
}
.eva-clipboard-outline:before {
  content: "\e939";
}
.eva-clock-outline:before {
  content: "\e93a";
}
.eva-close-circle-outline:before {
  content: "\e93b";
}
.eva-close-outline:before {
  content: "\e93c";
}
.eva-close-square-outline:before {
  content: "\e93d";
}
.eva-cloud-download-outline:before {
  content: "\e93e";
}
.eva-cloud-upload-outline:before {
  content: "\e93f";
}
.eva-code-download-outline:before {
  content: "\e940";
}
.eva-code-outline:before {
  content: "\e941";
}
.eva-collapse-outline:before {
  content: "\e942";
}
.eva-color-palette-outline:before {
  content: "\e943";
}
.eva-color-picker-outline:before {
  content: "\e944";
}
.eva-compass-outline:before {
  content: "\e945";
}
.eva-copy-outline:before {
  content: "\e946";
}
.eva-corner-down-left-outline:before {
  content: "\e947";
}
.eva-corner-down-right-outline:before {
  content: "\e948";
}
.eva-corner-left-down-outline:before {
  content: "\e949";
}
.eva-corner-left-up-outline:before {
  content: "\e94a";
}
.eva-corner-right-down-outline:before {
  content: "\e94b";
}
.eva-corner-right-up-outline:before {
  content: "\e94c";
}
.eva-corner-up-left-outline:before {
  content: "\e94d";
}
.eva-corner-up-right-outline:before {
  content: "\e94e";
}
.eva-credit-card-outline:before {
  content: "\e94f";
}
.eva-crop-outline:before {
  content: "\e950";
}
.eva-cube-outline:before {
  content: "\e951";
}
.eva-diagonal-arrow-left-down-outline:before {
  content: "\e952";
}
.eva-diagonal-arrow-left-up-outline:before {
  content: "\e953";
}
.eva-diagonal-arrow-right-down-outline:before {
  content: "\e954";
}
.eva-diagonal-arrow-right-up-outline:before {
  content: "\e955";
}
.eva-done-all-outline:before {
  content: "\e956";
}
.eva-download-outline:before {
  content: "\e957";
}
.eva-droplet-off-outline:before {
  content: "\e958";
}
.eva-droplet-outline:before {
  content: "\e959";
}
.eva-edit-2-outline:before {
  content: "\e95a";
}
.eva-edit-outline:before {
  content: "\e95b";
}
.eva-email-outline:before {
  content: "\e95c";
}
.eva-expand-outline:before {
  content: "\e95d";
}
.eva-external-link-outline:before {
  content: "\e95e";
}
.eva-eye-off-2-outline:before {
  content: "\e95f";
}
.eva-eye-off-outline:before {
  content: "\e960";
}
.eva-eye-outline:before {
  content: "\e961";
}
.eva-facebook-outline:before {
  content: "\e962";
}
.eva-file-add-outline:before {
  content: "\e963";
}
.eva-file-outline:before {
  content: "\e964";
}
.eva-file-remove-outline:before {
  content: "\e965";
}
.eva-file-text-outline:before {
  content: "\e966";
}
.eva-film-outline:before {
  content: "\e967";
}
.eva-flag-outline:before {
  content: "\e968";
}
.eva-flash-off-outline:before {
  content: "\e969";
}
.eva-flash-outline:before {
  content: "\e96a";
}
.eva-flip-2-outline:before {
  content: "\e96b";
}
.eva-flip-outline:before {
  content: "\e96c";
}
.eva-folder-add-outline:before {
  content: "\e96d";
}
.eva-folder-outline:before {
  content: "\e96e";
}
.eva-folder-remove-outline:before {
  content: "\e96f";
}
.eva-funnel-outline:before {
  content: "\e970";
}
.eva-gift-outline:before {
  content: "\e971";
}
.eva-github-outline:before {
  content: "\e972";
}
.eva-globe-2-outline:before {
  content: "\e973";
}
.eva-globe-outline:before {
  content: "\e974";
}
.eva-google-outline:before {
  content: "\e975";
}
.eva-grid-outline:before {
  content: "\e976";
}
.eva-hard-drive-outline:before {
  content: "\e977";
}
.eva-hash-outline:before {
  content: "\e978";
}
.eva-headphones-outline:before {
  content: "\e979";
}
.eva-heart-outline:before {
  content: "\e97a";
}
.eva-home-outline:before {
  content: "\e97b";
}
.eva-image-outline:before {
  content: "\e97c";
}
.eva-inbox-outline:before {
  content: "\e97d";
}
.eva-info-outline:before {
  content: "\e97e";
}
.eva-keypad-outline:before {
  content: "\e97f";
}
.eva-layers-outline:before {
  content: "\e980";
}
.eva-layout-outline:before {
  content: "\e981";
}
.eva-link-2-outline:before {
  content: "\e982";
}
.eva-linkedin-outline:before {
  content: "\e983";
}
.eva-link-outline:before {
  content: "\e984";
}
.eva-list-outline:before {
  content: "\e985";
}
.eva-loader-outline:before {
  content: "\e986";
}
.eva-lock-outline:before {
  content: "\e987";
}
.eva-log-in-outline:before {
  content: "\e988";
}
.eva-log-out-outline:before {
  content: "\e989";
}
.eva-map-outline:before {
  content: "\e98a";
}
.eva-maximize-outline:before {
  content: "\e98b";
}
.eva-menu-2-outline:before {
  content: "\e98c";
}
.eva-menu-arrow-outline:before {
  content: "\e98d";
}
.eva-menu-outline:before {
  content: "\e98e";
}
.eva-message-circle-outline:before {
  content: "\e98f";
}
.eva-message-square-outline:before {
  content: "\e990";
}
.eva-mic-off-outline:before {
  content: "\e991";
}
.eva-mic-outline:before {
  content: "\e992";
}
.eva-minimize-outline:before {
  content: "\e993";
}
.eva-minus-circle-outline:before {
  content: "\e994";
}
.eva-minus-outline:before {
  content: "\e995";
}
.eva-minus-square-outline:before {
  content: "\e996";
}
.eva-monitor-outline:before {
  content: "\e997";
}
.eva-moon-outline:before {
  content: "\e998";
}
.eva-more-horizotnal-outline:before {
  content: "\e999";
}
.eva-more-vertical-outline:before {
  content: "\e99a";
}
.eva-move-outline:before {
  content: "\e99b";
}
.eva-music-outline:before {
  content: "\e99c";
}
.eva-navigation-2-outline:before {
  content: "\e99d";
}
.eva-navigation-outline:before {
  content: "\e99e";
}
.eva-npm-outline:before {
  content: "\e99f";
}
.eva-options-2-outline:before {
  content: "\e9a0";
}
.eva-options-outline:before {
  content: "\e9a1";
}
.eva-pantone-outline:before {
  content: "\e9a2";
}
.eva-paper-plane-outline:before {
  content: "\e9a3";
}
.eva-pause-circle-outline:before {
  content: "\e9a4";
}
.eva-people-outline:before {
  content: "\e9a5";
}
.eva-percent-outline:before {
  content: "\e9a6";
}
.eva-person-add-outline:before {
  content: "\e9a7";
}
.eva-person-delete-outline:before {
  content: "\e9a8";
}
.eva-person-done-outline:before {
  content: "\e9a9";
}
.eva-person-outline:before {
  content: "\e9aa";
}
.eva-person-remove-outline:before {
  content: "\e9ab";
}
.eva-phone-call-outline:before {
  content: "\e9ac";
}
.eva-phone-missed-outline:before {
  content: "\e9ad";
}
.eva-phone-off-outline:before {
  content: "\e9ae";
}
.eva-phone-outline:before {
  content: "\e9af";
}
.eva-pie-chart-outline:before {
  content: "\e9b0";
}
.eva-pin-outline:before {
  content: "\e9b1";
}
.eva-play-circle-outline:before {
  content: "\e9b2";
}
.eva-plus-circle-outline:before {
  content: "\e9b3";
}
.eva-plus-outline:before {
  content: "\e9b4";
}
.eva-plus-square-outline:before {
  content: "\e9b5";
}
.eva-power-outline:before {
  content: "\e9b6";
}
.eva-pricetags-outline:before {
  content: "\e9b7";
}
.eva-printer-outline:before {
  content: "\e9b8";
}
.eva-question-mark-circle-outline:before {
  content: "\e9b9";
}
.eva-question-mark-outline:before {
  content: "\e9ba";
}
.eva-radio-button-off-outline:before {
  content: "\e9bb";
}
.eva-radio-button-on-outline:before {
  content: "\e9bc";
}
.eva-radio-outline:before {
  content: "\e9bd";
}
.eva-recording-outline:before {
  content: "\e9be";
}
.eva-refresh-outline:before {
  content: "\e9bf";
}
.eva-repeat-outline:before {
  content: "\e9c0";
}
.eva-rewind-left-outline:before {
  content: "\e9c1";
}
.eva-rewind-right-outline:before {
  content: "\e9c2";
}
.eva-save-outline:before {
  content: "\e9c3";
}
.eva-scissors-outline:before {
  content: "\e9c4";
}
.eva-search-outline:before {
  content: "\e9c5";
}
.eva-settings-2-outline:before {
  content: "\e9c6";
}
.eva-settings-outline:before {
  content: "\e9c7";
}
.eva-shake-outline:before {
  content: "\e9c8";
}
.eva-share-outline:before {
  content: "\e9c9";
}
.eva-shield-off-outline:before {
  content: "\e9ca";
}
.eva-shield-outline:before {
  content: "\e9cb";
}
.eva-shopping-bag-outline:before {
  content: "\e9cc";
}
.eva-shopping-cart-outline:before {
  content: "\e9cd";
}
.eva-shuffle-2-outline:before {
  content: "\e9ce";
}
.eva-shuffle-outline:before {
  content: "\e9cf";
}
.eva-skip-back-outline:before {
  content: "\e9d0";
}
.eva-skip-forward-outline:before {
  content: "\e9d1";
}
.eva-slash-outline:before {
  content: "\e9d2";
}
.eva-smartphone-outline:before {
  content: "\e9d3";
}
.eva-speaker-outline:before {
  content: "\e9d4";
}
.eva-square-outline:before {
  content: "\e9d5";
}
.eva-star-outline:before {
  content: "\e9d6";
}
.eva-stop-circle-outline:before {
  content: "\e9d7";
}
.eva-sun-outline:before {
  content: "\e9d8";
}
.eva-swap-outline:before {
  content: "\e9d9";
}
.eva-sync-outline:before {
  content: "\e9da";
}
.eva-text-outline:before {
  content: "\e9db";
}
.eva-thermometer-minus-outline:before {
  content: "\e9dc";
}
.eva-thermometer-outline:before {
  content: "\e9dd";
}
.eva-thermometer-plus-outline:before {
  content: "\e9de";
}
.eva-toggle-left-outline:before {
  content: "\e9df";
}
.eva-toggle-right-outline:before {
  content: "\e9e0";
}
.eva-trash-2-outline:before {
  content: "\e9e1";
}
.eva-trash-outline:before {
  content: "\e9e2";
}
.eva-trending-down-outline:before {
  content: "\e9e3";
}
.eva-trending-up-outline:before {
  content: "\e9e4";
}
.eva-tv-outline:before {
  content: "\e9e5";
}
.eva-twitter-outline:before {
  content: "\e9e6";
}
.eva-umbrella-outline:before {
  content: "\e9e7";
}
.eva-undo-outline:before {
  content: "\e9e8";
}
.eva-unlock-outline:before {
  content: "\e9e9";
}
.eva-upload-outline:before {
  content: "\e9ea";
}
.eva-video-off-outline:before {
  content: "\e9eb";
}
.eva-video-outline:before {
  content: "\e9ec";
}
.eva-volume-down-outline:before {
  content: "\e9ed";
}
.eva-volume-mute-outline:before {
  content: "\e9ee";
}
.eva-volume-off-outline:before {
  content: "\e9ef";
}
.eva-volume-up-outline:before {
  content: "\e9f0";
}
.eva-wifi-off-outline:before {
  content: "\e9f1";
}
.eva-wifi-outline:before {
  content: "\e9f2";
}
.eva-activity:before {
  content: "\e9f3";
}
.eva-alert-circle:before {
  content: "\e9f4";
}
.eva-alert-triangle:before {
  content: "\e9f5";
}
.eva-archive:before {
  content: "\e9f6";
}
.eva-arrow-back:before {
  content: "\e9f7";
}
.eva-arrow-circle-down:before {
  content: "\e9f8";
}
.eva-arrow-circle-left:before {
  content: "\e9f9";
}
.eva-arrow-circle-right:before {
  content: "\e9fa";
}
.eva-arrow-circle-up:before {
  content: "\e9fb";
}
.eva-arrow-down:before {
  content: "\e9fc";
}
.eva-arrow-downward:before {
  content: "\e9fd";
}
.eva-arrow-forward:before {
  content: "\e9fe";
}
.eva-arrowhead-down:before {
  content: "\e9ff";
}
.eva-arrowhead-left:before {
  content: "\ea00";
}
.eva-arrowhead-right:before {
  content: "\ea01";
}
.eva-arrowhead-up:before {
  content: "\ea02";
}
.eva-arrow-ios-back:before {
  content: "\ea03";
}
.eva-arrow-ios-downward:before {
  content: "\ea04";
}
.eva-arrow-ios-forward:before {
  content: "\ea05";
}
.eva-arrow-ios-upward:before {
  content: "\ea06";
}
.eva-arrow-left:before {
  content: "\ea07";
}
.eva-arrow-right:before {
  content: "\ea08";
}
.eva-arrow-up:before {
  content: "\ea09";
}
.eva-arrow-upward:before {
  content: "\ea0a";
}
.eva-at:before {
  content: "\ea0b";
}
.eva-attach:before {
  content: "\ea0c";
}
.eva-attach-2:before {
  content: "\ea0d";
}
.eva-award:before {
  content: "\ea0e";
}
.eva-backspace:before {
  content: "\ea0f";
}
.eva-bar-chart:before {
  content: "\ea10";
}
.eva-bar-chart-2:before {
  content: "\ea11";
}
.eva-battery:before {
  content: "\ea12";
}
.eva-behance:before {
  content: "\ea13";
}
.eva-bell:before {
  content: "\ea14";
}
.eva-bell-off:before {
  content: "\ea15";
}
.eva-bluetooth:before {
  content: "\ea16";
}
.eva-book:before {
  content: "\ea17";
}
.eva-bookmark:before {
  content: "\ea18";
}
.eva-book-open:before {
  content: "\ea19";
}
.eva-briefcase:before {
  content: "\ea1a";
}
.eva-browser:before {
  content: "\ea1b";
}
.eva-brush:before {
  content: "\ea1c";
}
.eva-bulb:before {
  content: "\ea1d";
}
.eva-calendar:before {
  content: "\ea1e";
}
.eva-camera:before {
  content: "\ea1f";
}
.eva-car:before {
  content: "\ea20";
}
.eva-cast:before {
  content: "\ea21";
}
.eva-charging:before {
  content: "\ea22";
}
.eva-checkmark:before {
  content: "\ea23";
}
.eva-checkmark-circle:before {
  content: "\ea24";
}
.eva-checkmark-circle-2:before {
  content: "\ea25";
}
.eva-checkmark-square:before {
  content: "\ea26";
}
.eva-checkmark-square-2:before {
  content: "\ea27";
}
.eva-chevron-down:before {
  content: "\ea28";
}
.eva-chevron-left:before {
  content: "\ea29";
}
.eva-chevron-right:before {
  content: "\ea2a";
}
.eva-chevron-up:before {
  content: "\ea2b";
}
.eva-clipboard:before {
  content: "\ea2c";
}
.eva-clock:before {
  content: "\ea2d";
}
.eva-close:before {
  content: "\ea2e";
}
.eva-close-circle:before {
  content: "\ea2f";
}
.eva-close-square:before {
  content: "\ea30";
}
.eva-cloud-download:before {
  content: "\ea31";
}
.eva-cloud-upload:before {
  content: "\ea32";
}
.eva-code:before {
  content: "\ea33";
}
.eva-code-download:before {
  content: "\ea34";
}
.eva-collapse:before {
  content: "\ea35";
}
.eva-color-palette:before {
  content: "\ea36";
}
.eva-color-picker:before {
  content: "\ea37";
}
.eva-compass:before {
  content: "\ea38";
}
.eva-copy:before {
  content: "\ea39";
}
.eva-corner-down-left:before {
  content: "\ea3a";
}
.eva-corner-down-right:before {
  content: "\ea3b";
}
.eva-corner-left-down:before {
  content: "\ea3c";
}
.eva-corner-left-up:before {
  content: "\ea3d";
}
.eva-corner-right-down:before {
  content: "\ea3e";
}
.eva-corner-right-up:before {
  content: "\ea3f";
}
.eva-corner-up-left:before {
  content: "\ea40";
}
.eva-corner-up-right:before {
  content: "\ea41";
}
.eva-credit-card:before {
  content: "\ea42";
}
.eva-crop:before {
  content: "\ea43";
}
.eva-cube:before {
  content: "\ea44";
}
.eva-diagonal-arrow-left-down:before {
  content: "\ea45";
}
.eva-diagonal-arrow-left-up:before {
  content: "\ea46";
}
.eva-diagonal-arrow-right-down:before {
  content: "\ea47";
}
.eva-diagonal-arrow-right-up:before {
  content: "\ea48";
}
.eva-done-all:before {
  content: "\ea49";
}
.eva-download:before {
  content: "\ea4a";
}
.eva-droplet:before {
  content: "\ea4b";
}
.eva-droplet-off:before {
  content: "\ea4c";
}
.eva-edit:before {
  content: "\ea4d";
}
.eva-edit-2:before {
  content: "\ea4e";
}
.eva-email:before {
  content: "\ea4f";
}
.eva-expand:before {
  content: "\ea50";
}
.eva-external-link:before {
  content: "\ea51";
}
.eva-eye:before {
  content: "\ea52";
}
.eva-eye-off:before {
  content: "\ea53";
}
.eva-eye-off-2:before {
  content: "\ea54";
}
.eva-facebook:before {
  content: "\ea55";
}
.eva-file:before {
  content: "\ea56";
}
.eva-file-add:before {
  content: "\ea57";
}
.eva-file-remove:before {
  content: "\ea58";
}
.eva-file-text:before {
  content: "\ea59";
}
.eva-film:before {
  content: "\ea5a";
}
.eva-flag:before {
  content: "\ea5b";
}
.eva-flash:before {
  content: "\ea5c";
}
.eva-flash-off:before {
  content: "\ea5d";
}
.eva-flip:before {
  content: "\ea5e";
}
.eva-flip-2:before {
  content: "\ea5f";
}
.eva-folder:before {
  content: "\ea60";
}
.eva-folder-add:before {
  content: "\ea61";
}
.eva-folder-remove:before {
  content: "\ea62";
}
.eva-funnel:before {
  content: "\ea63";
}
.eva-gift:before {
  content: "\ea64";
}
.eva-github:before {
  content: "\ea65";
}
.eva-globe:before {
  content: "\ea66";
}
.eva-globe-2:before {
  content: "\ea67";
}
.eva-globe-3:before {
  content: "\ea68";
}
.eva-google:before {
  content: "\ea69";
}
.eva-grid:before {
  content: "\ea6a";
}
.eva-hard-drive:before {
  content: "\ea6b";
}
.eva-hash:before {
  content: "\ea6c";
}
.eva-headphones:before {
  content: "\ea6d";
}
.eva-heart:before {
  content: "\ea6e";
}
.eva-home:before {
  content: "\ea6f";
}
.eva-image:before {
  content: "\ea70";
}
.eva-image-2:before {
  content: "\ea71";
}
.eva-inbox:before {
  content: "\ea72";
}
.eva-info:before {
  content: "\ea73";
}
.eva-keypad:before {
  content: "\ea74";
}
.eva-layers:before {
  content: "\ea75";
}
.eva-layout:before {
  content: "\ea76";
}
.eva-link:before {
  content: "\ea77";
}
.eva-link-2:before {
  content: "\ea78";
}
.eva-linkedin:before {
  content: "\ea79";
}
.eva-list:before {
  content: "\ea7a";
}
.eva-lock:before {
  content: "\ea7b";
}
.eva-log-in:before {
  content: "\ea7c";
}
.eva-log-out:before {
  content: "\ea7d";
}
.eva-map:before {
  content: "\ea7e";
}
.eva-maximize:before {
  content: "\ea7f";
}
.eva-menu:before {
  content: "\ea80";
}
.eva-menu-2:before {
  content: "\ea81";
}
.eva-menu-arrow:before {
  content: "\ea82";
}
.eva-message-circle:before {
  content: "\ea83";
}
.eva-message-square:before {
  content: "\ea84";
}
.eva-mic:before {
  content: "\ea85";
}
.eva-mic-off:before {
  content: "\ea86";
}
.eva-minimize:before {
  content: "\ea87";
}
.eva-minus:before {
  content: "\ea88";
}
.eva-minus-circle:before {
  content: "\ea89";
}
.eva-minus-square:before {
  content: "\ea8a";
}
.eva-monitor:before {
  content: "\ea8b";
}
.eva-moon:before {
  content: "\ea8c";
}
.eva-more-horizotnal:before {
  content: "\ea8d";
}
.eva-more-vertical:before {
  content: "\ea8e";
}
.eva-move:before {
  content: "\ea8f";
}
.eva-music:before {
  content: "\ea90";
}
.eva-navigation:before {
  content: "\ea91";
}
.eva-navigation-2:before {
  content: "\ea92";
}
.eva-npm:before {
  content: "\ea93";
}
.eva-options:before {
  content: "\ea94";
}
.eva-options-2:before {
  content: "\ea95";
}
.eva-pantone:before {
  content: "\ea96";
}
.eva-paper-plane:before {
  content: "\ea97";
}
.eva-pause-circle:before {
  content: "\ea98";
}
.eva-people:before {
  content: "\ea99";
}
.eva-percent:before {
  content: "\ea9a";
}
.eva-person:before {
  content: "\ea9b";
}
.eva-person-add:before {
  content: "\ea9c";
}
.eva-person-delete:before {
  content: "\ea9d";
}
.eva-person-done:before {
  content: "\ea9e";
}
.eva-person-remove:before {
  content: "\ea9f";
}
.eva-phone:before {
  content: "\eaa0";
}
.eva-phone-call:before {
  content: "\eaa1";
}
.eva-phone-missed:before {
  content: "\eaa2";
}
.eva-phone-off:before {
  content: "\eaa3";
}
.eva-pie-chart:before {
  content: "\eaa4";
}
.eva-pie-chart-2:before {
  content: "\eaa5";
}
.eva-pin:before {
  content: "\eaa6";
}
.eva-play-circle:before {
  content: "\eaa7";
}
.eva-plus:before {
  content: "\eaa8";
}
.eva-plus-circle:before {
  content: "\eaa9";
}
.eva-plus-square:before {
  content: "\eaaa";
}
.eva-power:before {
  content: "\eaab";
}
.eva-pricetags:before {
  content: "\eaac";
}
.eva-printer:before {
  content: "\eaad";
}
.eva-question-mark:before {
  content: "\eaae";
}
.eva-question-mark-circle:before {
  content: "\eaaf";
}
.eva-radio:before {
  content: "\eab0";
}
.eva-radio-button-off:before {
  content: "\eab1";
}
.eva-radio-button-on:before {
  content: "\eab2";
}
.eva-recording:before {
  content: "\eab3";
}
.eva-refresh:before {
  content: "\eab4";
}
.eva-repeat:before {
  content: "\eab5";
}
.eva-rewind-left:before {
  content: "\eab6";
}
.eva-rewind-right:before {
  content: "\eab7";
}
.eva-save:before {
  content: "\eab8";
}
.eva-scissors:before {
  content: "\eab9";
}
.eva-search:before {
  content: "\eaba";
}
.eva-settings:before {
  content: "\eabb";
}
.eva-settings-2:before {
  content: "\eabc";
}
.eva-shake:before {
  content: "\eabd";
}
.eva-share:before {
  content: "\eabe";
}
.eva-shield:before {
  content: "\eabf";
}
.eva-shield-off:before {
  content: "\eac0";
}
.eva-shopping-bag:before {
  content: "\eac1";
}
.eva-shopping-cart:before {
  content: "\eac2";
}
.eva-shuffle:before {
  content: "\eac3";
}
.eva-shuffle-2:before {
  content: "\eac4";
}
.eva-skip-back:before {
  content: "\eac5";
}
.eva-skip-forward:before {
  content: "\eac6";
}
.eva-slash:before {
  content: "\eac7";
}
.eva-smartphone:before {
  content: "\eac8";
}
.eva-speaker:before {
  content: "\eac9";
}
.eva-square:before {
  content: "\eaca";
}
.eva-star:before {
  content: "\eacb";
}
.eva-stop-circle:before {
  content: "\eacc";
}
.eva-sun:before {
  content: "\eacd";
}
.eva-swap:before {
  content: "\eace";
}
.eva-sync:before {
  content: "\eacf";
}
.eva-text:before {
  content: "\ead0";
}
.eva-thermometer:before {
  content: "\ead1";
}
.eva-thermometer-minus:before {
  content: "\ead2";
}
.eva-thermometer-plus:before {
  content: "\ead3";
}
.eva-toggle-left:before {
  content: "\ead4";
}
.eva-toggle-right:before {
  content: "\ead5";
}
.eva-trash:before {
  content: "\ead6";
}
.eva-trash-2:before {
  content: "\ead7";
}
.eva-trending-down:before {
  content: "\ead8";
}
.eva-trending-up:before {
  content: "\ead9";
}
.eva-tv:before {
  content: "\eada";
}
.eva-twitter:before {
  content: "\eadb";
}
.eva-umbrella:before {
  content: "\eadc";
}
.eva-undo:before {
  content: "\eadd";
}
.eva-unlock:before {
  content: "\eade";
}
.eva-upload:before {
  content: "\eadf";
}
.eva-video:before {
  content: "\eae0";
}
.eva-video-off:before {
  content: "\eae1";
}
.eva-volume-down:before {
  content: "\eae2";
}
.eva-volume-mute:before {
  content: "\eae3";
}
.eva-volume-off:before {
  content: "\eae4";
}
.eva-volume-up:before {
  content: "\eae5";
}
.eva-wifi:before {
  content: "\eae6";
}
.eva-wifi-off:before {
  content: "\eae7";
}
