
$eva-icons-font-path: './assets/eva/fonts' !default;
$eva-icons-font-family: 'Eva-Icons' !default;

$eva-activity-outline: "\e900";
$eva-alert-circle-outline: "\e901";
$eva-alert-triangle-outline: "\e902";
$eva-archive-outline: "\e903";
$eva-arrow-back-outline: "\e904";
$eva-arrow-circle-down-outline: "\e905";
$eva-arrow-circle-left-outline: "\e906";
$eva-arrow-circle-right-outline: "\e907";
$eva-arrow-circle-up-outline: "\e908";
$eva-arrow-down-outline: "\e909";
$eva-arrow-downward-outline: "\e90a";
$eva-arrow-forward-outline: "\e90b";
$eva-arrowhead-down-outline: "\e90c";
$eva-arrowhead-left-outline: "\e90d";
$eva-arrowhead-right-outline: "\e90e";
$eva-arrowhead-up-outline: "\e90f";
$eva-arrow-ios-back-outline: "\e910";
$eva-arrow-ios-downward-outline: "\e911";
$eva-arrow-ios-forward-outline: "\e912";
$eva-arrow-ios-upward-outline: "\e913";
$eva-arrow-left-outline: "\e914";
$eva-arrow-right-outline: "\e915";
$eva-arrow-up-outline: "\e916";
$eva-arrow-upward-outline: "\e917";
$eva-at-outline: "\e918";
$eva-attach-2-outline: "\e919";
$eva-attach-outline: "\e91a";
$eva-award-outline: "\e91b";
$eva-backspace-outline: "\e91c";
$eva-bar-chart-2-outline: "\e91d";
$eva-bar-chart-outline: "\e91e";
$eva-battery-outline: "\e91f";
$eva-behance-outline: "\e920";
$eva-bell-off-outline: "\e921";
$eva-bell-outline: "\e922";
$eva-bluetooth-outline: "\e923";
$eva-bookmark-outline: "\e924";
$eva-book-open-outline: "\e925";
$eva-book-outline: "\e926";
$eva-briefcase-outline: "\e927";
$eva-browser-outline: "\e928";
$eva-brush-outline: "\e929";
$eva-bulb-outline: "\e92a";
$eva-calendar-outline: "\e92b";
$eva-camera-outline: "\e92c";
$eva-car-outline: "\e92d";
$eva-cast-outline: "\e92e";
$eva-charging-outline: "\e92f";
$eva-checkmark-circle-2-outline: "\e930";
$eva-checkmark-circle-outline: "\e931";
$eva-checkmark-outline: "\e932";
$eva-checkmark-square-2-outline: "\e933";
$eva-checkmark-square-outline: "\e934";
$eva-chevron-down-outline: "\e935";
$eva-chevron-left-outline: "\e936";
$eva-chevron-right-outline: "\e937";
$eva-chevron-up-outline: "\e938";
$eva-clipboard-outline: "\e939";
$eva-clock-outline: "\e93a";
$eva-close-circle-outline: "\e93b";
$eva-close-outline: "\e93c";
$eva-close-square-outline: "\e93d";
$eva-cloud-download-outline: "\e93e";
$eva-cloud-upload-outline: "\e93f";
$eva-code-download-outline: "\e940";
$eva-code-outline: "\e941";
$eva-collapse-outline: "\e942";
$eva-color-palette-outline: "\e943";
$eva-color-picker-outline: "\e944";
$eva-compass-outline: "\e945";
$eva-copy-outline: "\e946";
$eva-corner-down-left-outline: "\e947";
$eva-corner-down-right-outline: "\e948";
$eva-corner-left-down-outline: "\e949";
$eva-corner-left-up-outline: "\e94a";
$eva-corner-right-down-outline: "\e94b";
$eva-corner-right-up-outline: "\e94c";
$eva-corner-up-left-outline: "\e94d";
$eva-corner-up-right-outline: "\e94e";
$eva-credit-card-outline: "\e94f";
$eva-crop-outline: "\e950";
$eva-cube-outline: "\e951";
$eva-diagonal-arrow-left-down-outline: "\e952";
$eva-diagonal-arrow-left-up-outline: "\e953";
$eva-diagonal-arrow-right-down-outline: "\e954";
$eva-diagonal-arrow-right-up-outline: "\e955";
$eva-done-all-outline: "\e956";
$eva-download-outline: "\e957";
$eva-droplet-off-outline: "\e958";
$eva-droplet-outline: "\e959";
$eva-edit-2-outline: "\e95a";
$eva-edit-outline: "\e95b";
$eva-email-outline: "\e95c";
$eva-expand-outline: "\e95d";
$eva-external-link-outline: "\e95e";
$eva-eye-off-2-outline: "\e95f";
$eva-eye-off-outline: "\e960";
$eva-eye-outline: "\e961";
$eva-facebook-outline: "\e962";
$eva-file-add-outline: "\e963";
$eva-file-outline: "\e964";
$eva-file-remove-outline: "\e965";
$eva-file-text-outline: "\e966";
$eva-film-outline: "\e967";
$eva-flag-outline: "\e968";
$eva-flash-off-outline: "\e969";
$eva-flash-outline: "\e96a";
$eva-flip-2-outline: "\e96b";
$eva-flip-outline: "\e96c";
$eva-folder-add-outline: "\e96d";
$eva-folder-outline: "\e96e";
$eva-folder-remove-outline: "\e96f";
$eva-funnel-outline: "\e970";
$eva-gift-outline: "\e971";
$eva-github-outline: "\e972";
$eva-globe-2-outline: "\e973";
$eva-globe-outline: "\e974";
$eva-google-outline: "\e975";
$eva-grid-outline: "\e976";
$eva-hard-drive-outline: "\e977";
$eva-hash-outline: "\e978";
$eva-headphones-outline: "\e979";
$eva-heart-outline: "\e97a";
$eva-home-outline: "\e97b";
$eva-image-outline: "\e97c";
$eva-inbox-outline: "\e97d";
$eva-info-outline: "\e97e";
$eva-keypad-outline: "\e97f";
$eva-layers-outline: "\e980";
$eva-layout-outline: "\e981";
$eva-link-2-outline: "\e982";
$eva-linkedin-outline: "\e983";
$eva-link-outline: "\e984";
$eva-list-outline: "\e985";
$eva-loader-outline: "\e986";
$eva-lock-outline: "\e987";
$eva-log-in-outline: "\e988";
$eva-log-out-outline: "\e989";
$eva-map-outline: "\e98a";
$eva-maximize-outline: "\e98b";
$eva-menu-2-outline: "\e98c";
$eva-menu-arrow-outline: "\e98d";
$eva-menu-outline: "\e98e";
$eva-message-circle-outline: "\e98f";
$eva-message-square-outline: "\e990";
$eva-mic-off-outline: "\e991";
$eva-mic-outline: "\e992";
$eva-minimize-outline: "\e993";
$eva-minus-circle-outline: "\e994";
$eva-minus-outline: "\e995";
$eva-minus-square-outline: "\e996";
$eva-monitor-outline: "\e997";
$eva-moon-outline: "\e998";
$eva-more-horizotnal-outline: "\e999";
$eva-more-vertical-outline: "\e99a";
$eva-move-outline: "\e99b";
$eva-music-outline: "\e99c";
$eva-navigation-2-outline: "\e99d";
$eva-navigation-outline: "\e99e";
$eva-npm-outline: "\e99f";
$eva-options-2-outline: "\e9a0";
$eva-options-outline: "\e9a1";
$eva-pantone-outline: "\e9a2";
$eva-paper-plane-outline: "\e9a3";
$eva-pause-circle-outline: "\e9a4";
$eva-people-outline: "\e9a5";
$eva-percent-outline: "\e9a6";
$eva-person-add-outline: "\e9a7";
$eva-person-delete-outline: "\e9a8";
$eva-person-done-outline: "\e9a9";
$eva-person-outline: "\e9aa";
$eva-person-remove-outline: "\e9ab";
$eva-phone-call-outline: "\e9ac";
$eva-phone-missed-outline: "\e9ad";
$eva-phone-off-outline: "\e9ae";
$eva-phone-outline: "\e9af";
$eva-pie-chart-outline: "\e9b0";
$eva-pin-outline: "\e9b1";
$eva-play-circle-outline: "\e9b2";
$eva-plus-circle-outline: "\e9b3";
$eva-plus-outline: "\e9b4";
$eva-plus-square-outline: "\e9b5";
$eva-power-outline: "\e9b6";
$eva-pricetags-outline: "\e9b7";
$eva-printer-outline: "\e9b8";
$eva-question-mark-circle-outline: "\e9b9";
$eva-question-mark-outline: "\e9ba";
$eva-radio-button-off-outline: "\e9bb";
$eva-radio-button-on-outline: "\e9bc";
$eva-radio-outline: "\e9bd";
$eva-recording-outline: "\e9be";
$eva-refresh-outline: "\e9bf";
$eva-repeat-outline: "\e9c0";
$eva-rewind-left-outline: "\e9c1";
$eva-rewind-right-outline: "\e9c2";
$eva-save-outline: "\e9c3";
$eva-scissors-outline: "\e9c4";
$eva-search-outline: "\e9c5";
$eva-settings-2-outline: "\e9c6";
$eva-settings-outline: "\e9c7";
$eva-shake-outline: "\e9c8";
$eva-share-outline: "\e9c9";
$eva-shield-off-outline: "\e9ca";
$eva-shield-outline: "\e9cb";
$eva-shopping-bag-outline: "\e9cc";
$eva-shopping-cart-outline: "\e9cd";
$eva-shuffle-2-outline: "\e9ce";
$eva-shuffle-outline: "\e9cf";
$eva-skip-back-outline: "\e9d0";
$eva-skip-forward-outline: "\e9d1";
$eva-slash-outline: "\e9d2";
$eva-smartphone-outline: "\e9d3";
$eva-speaker-outline: "\e9d4";
$eva-square-outline: "\e9d5";
$eva-star-outline: "\e9d6";
$eva-stop-circle-outline: "\e9d7";
$eva-sun-outline: "\e9d8";
$eva-swap-outline: "\e9d9";
$eva-sync-outline: "\e9da";
$eva-text-outline: "\e9db";
$eva-thermometer-minus-outline: "\e9dc";
$eva-thermometer-outline: "\e9dd";
$eva-thermometer-plus-outline: "\e9de";
$eva-toggle-left-outline: "\e9df";
$eva-toggle-right-outline: "\e9e0";
$eva-trash-2-outline: "\e9e1";
$eva-trash-outline: "\e9e2";
$eva-trending-down-outline: "\e9e3";
$eva-trending-up-outline: "\e9e4";
$eva-tv-outline: "\e9e5";
$eva-twitter-outline: "\e9e6";
$eva-umbrella-outline: "\e9e7";
$eva-undo-outline: "\e9e8";
$eva-unlock-outline: "\e9e9";
$eva-upload-outline: "\e9ea";
$eva-video-off-outline: "\e9eb";
$eva-video-outline: "\e9ec";
$eva-volume-down-outline: "\e9ed";
$eva-volume-mute-outline: "\e9ee";
$eva-volume-off-outline: "\e9ef";
$eva-volume-up-outline: "\e9f0";
$eva-wifi-off-outline: "\e9f1";
$eva-wifi-outline: "\e9f2";
$eva-activity: "";
$eva-alert-circle: "";
$eva-alert-triangle: "\e9f5";
$eva-archive: "\e9f6";
$eva-arrow-back: "\e9f7";
$eva-arrow-circle-down: "\e9f8";
$eva-arrow-circle-left: "\e9f9";
$eva-arrow-circle-right: "\e9fa";
$eva-arrow-circle-up: "\e9fb";
$eva-arrow-down: "\e9fc";
$eva-arrow-downward: "\e9fd";
$eva-arrow-forward: "\e9fe";
$eva-arrowhead-down: "\e9ff";
$eva-arrowhead-left: "\ea00";
$eva-arrowhead-right: "\ea01";
$eva-arrowhead-up: "\ea02";
$eva-arrow-ios-back: "\ea03";
$eva-arrow-ios-downward: "\ea04";
$eva-arrow-ios-forward: "\ea05";
$eva-arrow-ios-upward: "\ea06";
$eva-arrow-left: "\ea07";
$eva-arrow-right: "\ea08";
$eva-arrow-up: "\ea09";
$eva-arrow-upward: "\ea0a";
$eva-at: "\ea0b";
$eva-attach: "\ea0c";
$eva-attach-2: "\ea0d";
$eva-award: "\ea0e";
$eva-backspace: "\ea0f";
$eva-bar-chart: "\ea10";
$eva-bar-chart-2: "\ea11";
$eva-battery: "\ea12";
$eva-behance: "\ea13";
$eva-bell: "\ea14";
$eva-bell-off: "\ea15";
$eva-bluetooth: "\ea16";
$eva-book: "\ea17";
$eva-bookmark: "\ea18";
$eva-book-open: "\ea19";
$eva-briefcase: "\ea1a";
$eva-browser: "\ea1b";
$eva-brush: "\ea1c";
$eva-bulb: "\ea1d";
$eva-calendar: "\ea1e";
$eva-camera: "\ea1f";
$eva-car: "\ea20";
$eva-cast: "\ea21";
$eva-charging: "\ea22";
$eva-checkmark: "\ea23";
$eva-checkmark-circle: "\ea24";
$eva-checkmark-circle-2: "\ea25";
$eva-checkmark-square: "\ea26";
$eva-checkmark-square-2: "\ea27";
$eva-chevron-down: "\ea28";
$eva-chevron-left: "\ea29";
$eva-chevron-right: "\ea2a";
$eva-chevron-up: "\ea2b";
$eva-clipboard: "\ea2c";
$eva-clock: "\ea2d";
$eva-close: "\ea2e";
$eva-close-circle: "\ea2f";
$eva-close-square: "\ea30";
$eva-cloud-download: "\ea31";
$eva-cloud-upload: "\ea32";
$eva-code: "\ea33";
$eva-code-download: "\ea34";
$eva-collapse: "\ea35";
$eva-color-palette: "\ea36";
$eva-color-picker: "\ea37";
$eva-compass: "\ea38";
$eva-copy: "\ea39";
$eva-corner-down-left: "\ea3a";
$eva-corner-down-right: "\ea3b";
$eva-corner-left-down: "\ea3c";
$eva-corner-left-up: "\ea3d";
$eva-corner-right-down: "\ea3e";
$eva-corner-right-up: "\ea3f";
$eva-corner-up-left: "\ea40";
$eva-corner-up-right: "\ea41";
$eva-credit-card: "\ea42";
$eva-crop: "\ea43";
$eva-cube: "\ea44";
$eva-diagonal-arrow-left-down: "\ea45";
$eva-diagonal-arrow-left-up: "\ea46";
$eva-diagonal-arrow-right-down: "\ea47";
$eva-diagonal-arrow-right-up: "\ea48";
$eva-done-all: "\ea49";
$eva-download: "\ea4a";
$eva-droplet: "\ea4b";
$eva-droplet-off: "\ea4c";
$eva-edit: "\ea4d";
$eva-edit-2: "\ea4e";
$eva-email: "\ea4f";
$eva-expand: "\ea50";
$eva-external-link: "\ea51";
$eva-eye: "\ea52";
$eva-eye-off: "\ea53";
$eva-eye-off-2: "\ea54";
$eva-facebook: "\ea55";
$eva-file: "\ea56";
$eva-file-add: "\ea57";
$eva-file-remove: "\ea58";
$eva-file-text: "\ea59";
$eva-film: "\ea5a";
$eva-flag: "\ea5b";
$eva-flash: "\ea5c";
$eva-flash-off: "\ea5d";
$eva-flip: "\ea5e";
$eva-flip-2: "\ea5f";
$eva-folder: "\ea60";
$eva-folder-add: "\ea61";
$eva-folder-remove: "\ea62";
$eva-funnel: "\ea63";
$eva-gift: "\ea64";
$eva-github: "\ea65";
$eva-globe: "\ea66";
$eva-globe-2: "\ea67";
$eva-globe-3: "\ea68";
$eva-google: "\ea69";
$eva-grid: "\ea6a";
$eva-hard-drive: "\ea6b";
$eva-hash: "\ea6c";
$eva-headphones: "\ea6d";
$eva-heart: "\ea6e";
$eva-home: "\ea6f";
$eva-image: "\ea70";
$eva-image-2: "\ea71";
$eva-inbox: "\ea72";
$eva-info: "\ea73";
$eva-keypad: "\ea74";
$eva-layers: "\ea75";
$eva-layout: "\ea76";
$eva-link: "\ea77";
$eva-link-2: "\ea78";
$eva-linkedin: "\ea79";
$eva-list: "\ea7a";
$eva-lock: "\ea7b";
$eva-log-in: "\ea7c";
$eva-log-out: "\ea7d";
$eva-map: "\ea7e";
$eva-maximize: "\ea7f";
$eva-menu: "\ea80";
$eva-menu-2: "\ea81";
$eva-menu-arrow: "\ea82";
$eva-message-circle: "\ea83";
$eva-message-square: "\ea84";
$eva-mic: "\ea85";
$eva-mic-off: "\ea86";
$eva-minimize: "\ea87";
$eva-minus: "\ea88";
$eva-minus-circle: "\ea89";
$eva-minus-square: "\ea8a";
$eva-monitor: "\ea8b";
$eva-moon: "\ea8c";
$eva-more-horizotnal: "\ea8d";
$eva-more-vertical: "\ea8e";
$eva-move: "\ea8f";
$eva-music: "\ea90";
$eva-navigation: "\ea91";
$eva-navigation-2: "\ea92";
$eva-npm: "\ea93";
$eva-options: "\ea94";
$eva-options-2: "\ea95";
$eva-pantone: "\ea96";
$eva-paper-plane: "\ea97";
$eva-pause-circle: "\ea98";
$eva-people: "\ea99";
$eva-percent: "\ea9a";
$eva-person: "\ea9b";
$eva-person-add: "\ea9c";
$eva-person-delete: "\ea9d";
$eva-person-done: "\ea9e";
$eva-person-remove: "\ea9f";
$eva-phone: "\eaa0";
$eva-phone-call: "\eaa1";
$eva-phone-missed: "\eaa2";
$eva-phone-off: "\eaa3";
$eva-pie-chart: "\eaa4";
$eva-pie-chart-2: "\eaa5";
$eva-pin: "\eaa6";
$eva-play-circle: "\eaa7";
$eva-plus: "\eaa8";
$eva-plus-circle: "\eaa9";
$eva-plus-square: "\eaaa";
$eva-power: "\eaab";
$eva-pricetags: "\eaac";
$eva-printer: "\eaad";
$eva-question-mark: "\eaae";
$eva-question-mark-circle: "\eaaf";
$eva-radio: "\eab0";
$eva-radio-button-off: "\eab1";
$eva-radio-button-on: "\eab2";
$eva-recording: "\eab3";
$eva-refresh: "\eab4";
$eva-repeat: "\eab5";
$eva-rewind-left: "\eab6";
$eva-rewind-right: "\eab7";
$eva-save: "\eab8";
$eva-scissors: "\eab9";
$eva-search: "\eaba";
$eva-settings: "\eabb";
$eva-settings-2: "\eabc";
$eva-shake: "\eabd";
$eva-share: "\eabe";
$eva-shield: "\eabf";
$eva-shield-off: "\eac0";
$eva-shopping-bag: "\eac1";
$eva-shopping-cart: "\eac2";
$eva-shuffle: "\eac3";
$eva-shuffle-2: "\eac4";
$eva-skip-back: "\eac5";
$eva-skip-forward: "\eac6";
$eva-slash: "\eac7";
$eva-smartphone: "\eac8";
$eva-speaker: "\eac9";
$eva-square: "\eaca";
$eva-star: "\eacb";
$eva-stop-circle: "\eacc";
$eva-sun: "\eacd";
$eva-swap: "\eace";
$eva-sync: "\eacf";
$eva-text: "\ead0";
$eva-thermometer: "\ead1";
$eva-thermometer-minus: "\ead2";
$eva-thermometer-plus: "\ead3";
$eva-toggle-left: "\ead4";
$eva-toggle-right: "\ead5";
$eva-trash: "\ead6";
$eva-trash-2: "\ead7";
$eva-trending-down: "\ead8";
$eva-trending-up: "\ead9";
$eva-tv: "\eada";
$eva-twitter: "\eadb";
$eva-umbrella: "\eadc";
$eva-undo: "\eadd";
$eva-unlock: "\eade";
$eva-upload: "\eadf";
$eva-video: "\eae0";
$eva-video-off: "\eae1";
$eva-volume-down: "\eae2";
$eva-volume-mute: "\eae3";
$eva-volume-off: "\eae4";
$eva-volume-up: "\eae5";
$eva-wifi: "\eae6";
$eva-wifi-off: "\eae7";
